.toolbar-dark {
  --background: #282c35;
  --color: #ffffff;
}

.card-dark {
  --background: #333842;
  --color: #ffffff;
}

.content-dark {
  --ion-background-color: #1a1a1d;
}

.login-button-dark {
  --background: #4a4d56;
  --color: #ffffff;
  margin-top: 30px;
}

.register-button-dark {
  --color: #4a4d56;
}

.text-light {
  color: #ffffff;
}

.rounded-button {
  border-radius: 30px;
  text-align: center; 
}

.rounded-input {
  --border-radius: 15px;
}

ion-input:focus-within {
  --color: #ffffff;
  font-weight: bold;
}

ion-item.input-dark:focus-within ion-label {
  color: #ffffff;
  font-weight: bold;
}

