<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-dark">
    <ion-title class="ion-text-center">Mis Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-dark">
  <ion-list>
    <ion-item *ngFor="let order of orders">
      <ion-label>
        <h2>{{ 'Orden ' + order.orderId }}</h2>
        <p><strong>Productos:</strong> {{ order.stringList }}</p>
        <p><strong>Total:</strong> {{ order.priceTotal | currency: 'USD' }}</p>
        <p><strong>Usuario:</strong> {{ order.userId }}</p>
      </ion-label>
      <!-- Puedes agregar más elementos, como botones, iconos, etc., según tus necesidades -->
    </ion-item>
  </ion-list>
</ion-content>



