.dark-background {
    --ion-background-color: #1e1e1e;
    --ion-color-step-550: #1e1e1e; 
  }
  
  .profile-avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
  }
  
  .profile-name {
    text-align: center;
    color: #ffffff;
  }
  
  .profile-options-list {
    ion-item {
      --ion-color: #ffffff;
      margin-bottom: 12px;
      transition: transform 0.3s;
      
      &:active {
        transform: scale(0.96);
      }
    }
  }
  