.page-dark {
  --ion-background-color: #1a1a1d;
  --ion-color-base: #ffffff;
}

.toolbar-dark {
  --background: #282c35;
  --color: #ffffff;
}



.dark-background {
    --ion-background-color: #1e1e1e;
    --ion-color-step-550: #1e1e1e; 
  }
  
  .profile-avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
  }
  
  .profile-name {
    text-align: center;
    color: #ffffff;
  }
  
  .profile-options-list {
    ion-item {
      --ion-color: #ffffff;
      margin-bottom: 12px;
      transition: transform 0.3s;
      
      &:active {
        transform: scale(0.96);
      }
    }
  }
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  