<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-dark">
    <ion-title class="ion-text-center">DrinkDelight</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-dark">

  <!-- Barra de Búsqueda con Filtros -->
  <ion-searchbar class="searchbar-dark" placeholder="Buscar bebidas..." [(ngModel)]="searchTerm" (ionChange)="filterDrinks()"></ion-searchbar>
  
  <!-- Categorías -->
  <ion-row class="ion-margin-top categories">
    <ion-col *ngFor="let category of ['Cervezas', 'Vinos', 'Destilados', 'Cocteles', 'Whisky/Whiskey', 'Ron', 'Champagne', 'Coñac']">
      <ion-button expand="full" fill="clear" (click)="selectCategory(category)">{{category}}</ion-button>
    </ion-col>
  </ion-row>

  <!-- Lista de Bebidas -->
  <div [ngClass]="isGrid ? 'grid-view' : 'list-view'">
    <ion-card *ngFor="let drink of filteredDrinks" class="card-dark drink-card" (click)="presentActionSheet(drink)">
      <ion-img [src]="drink.image" [alt]="drink.name"></ion-img>
      <ion-card-content>
        <ion-card-title>{{drink.name}}</ion-card-title>
        <p>{{drink.description}}. {{drink.price}}</p>
      </ion-card-content>
    </ion-card>
  </div>

  
  
</ion-content>
