<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-green">
    <ion-title class="ion-text-center text-light">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-black" @fade>
  <div class="centered-content">
    <ion-card class="card-green">
      <ion-card-content>

        <!-- Input fields with the consistent dark theme look -->
        <ion-item class="input-dark">
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>

        <ion-item class="input-dark">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-item class="input-dark">
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
        </ion-item>

        <ion-item class="input-dark">
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item class="input-dark">
          <ion-label position="floating">Fecha de nacimiento</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Selecciona tu fecha" [(ngModel)]="birthdate"></ion-datetime>
        </ion-item>

        <ion-item class="input-dark">
          <ion-label position="stacked">Subir imagen de perfil</ion-label> 
          <ion-input type="file" [(ngModel)]="profileImage"></ion-input>
        </ion-item>

        <!-- Register Button with consistent theming -->
        <div class="action-items">
          <ion-button class="login-button-dark rounded-button" expand="full" (click)="register()" [disabled]="isRegistering">
            Registrar
          </ion-button>

          <!-- Progress bar -->
          <ion-progress-bar color="dark" *ngIf="showProgressBar"></ion-progress-bar>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-row class="ion-margin-top ion-align-items-center ion-justify-content-center">
      <ion-col size="auto">
        <ion-button class="register-button-dark rounded-button" fill="clear" (click)="goToLogin()">Volver</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
