/* Estilos para la barra de herramientas (toolbar) */
.toolbar-green {
    --background: green; /* Cambia el color de fondo de la barra de herramientas a verde */
    color: white; /* Cambia el color del texto a blanco */
  }
  
  /* Estilos para el ion-card (fondo verde) */
  .card-green {
    background-color: green; /* Cambia el color de fondo del ion-card a verde */
    color: white; /* Cambia el color del texto a blanco */
  }
  
  /* Estilos generales para el fondo celeste de la p치gina */
  ion-content {
    --background: lightblue; /* Cambia el color de fondo del ion-content a celeste claro */
}
ion-button.login-button {
    --background: darkgreen; /* Cambia el color de fondo del bot칩n a verde oscuro */
    color: white; /* Cambia el color del texto a blanco */
  }
  
  /* Estilos para el bot칩n "Register" */
ion-button.register-button {
    --background: darkgreen; /* Cambia el color de fondo del bot칩n a verde oscuro */
    color: white; /* Cambia el color del texto a blanco */
}