/* General Styles */
body, ion-content {
  --ion-background-color: #1a1a1d;
  --ion-color-step-50: #2a2a2d;  /* Slight variation for borders or highlights if needed */
  --ion-color-step-100: #1a1a1d;  /* Main background color */
  --ion-text-color: #ffffff;  /* General text color */
}

/* Toolbar styles */
.toolbar-green {
  --background: #282c35;
  --color: #ffffff;
}

/* Card styles */
.card-green {
  --background: #333842;
  --color: #ffffff;
  border-radius: 15px;
}

/* Content styles */
.content-black {
  --ion-background-color: #1a1a1d;
}

/* Button styles */
.login-button-dark {
  --background: #4a4d56;
  --color: #ffffff;
  margin-top: 15px;
}

.register-button-dark {
  --color: #4a4d56;
}

/* Input styles */
.input-dark, .input-rounded {
  --background: rgba(255, 255, 255, 0.1);
  --color: #ffffff;
  border-radius: 15px;
}

/* Light text for contrast against dark backgrounds */
.text-light {
  color: #ffffff;
}

/* Rounded buttons */
.rounded-button {
  border-radius: 20px;
  text-align: center;
}
